# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/FileMonitor/x64/Release
/.vs/FileMonitor/CopilotIndices/17.14.260.54502
/.vs/FileMonitor/FileContentIndex
/.vs/FileMonitor/v17
/x64/Release
